.search-sec{
    display: flex;
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: fit-content;
    text-align: left;
    overflow: hidden;
    padding: 0.75rem;

}

.search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    border: 0;
    background-color: white;
    background-image: url("../../../../public/Head/search.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 0.75rem;
}
input::placeholder {
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    padding-left: 2rem;
}
.search-box:focus{
    background-image: none;
}
.search-sec button{
    border: none;  
    background-color: white;
    overflow: hidden;
    border-left: 1px solid #ADADAD;
    padding-left: 1rem;
}